.mdl-card__media {
    margin: 0;
}

.mdl-card__media > img {
    max-width: 100%;
    height: 90px;
}

.mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
    margin-right: 3px;
    margin-left: 3px;
}
.cursor-pointer {
    cursor: pointer;
}

.transparent-overlay {
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    text-decoration: none;
    padding: 5px;
}

.character {
    font-size: 1rem;
}

.episode-ls {
    color: rgba(0,0,0,.54) !important;
    font-size: 1rem;
    line-height: 18px;
}

.arrow-back {
    margin-left: 10px;
}