
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-max-width {
  max-width: 1000px;
  margin: auto;
}

.loader-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.react-loader {
  animation: App-logo-spin infinite 2s linear;
  background: url(logo.svg) 50% no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
  margin-top: 7px;
}

.app-header {
  position: relative;
  background-image: url(
    https://raw.githubusercontent.com/google/material-design-lite/mdl-1.x/templates/portfolio/images/header-bg.jpg
  );
}

.app-header .mdl-layout__header-row {
  padding: 0;
  justify-content: center;
}

.mdl-layout__title {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

.is-compact .mdl-layout__title span {
  display: none;
}

.app-logo-row {
  min-height: 200px;
}

.is-compact .app-logo-row {
  min-height: auto;
}

.app-logo-row {
  animation: App-logo-spin infinite 20s linear;
  background: url(logo.svg) 50% no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  margin: auto auto 10px;
}

.is-compact .app-logo-row {
  height: 50px;
  width: 50px;
  margin-top: 7px;
}

.mt-2 {
  margin-top: 2px;
}

.mt-5 {
  margin-top: 5px;
}


footer {
  /*background-image: url(images/footer-background.png);*/
  background-size: cover;
}
